{% extends 'index.html' %}

{% block content %}

<div id="addcar-content">
    <div class="card border-success mb-3" style="max-width: 18rem;">
        <form action="/createcar" method="POST">
            <input type="text" name="make" placeholder="Make">
            <input type="text" name="model" placeholder="Model">
            <input type="text" name="year" placeholder="Year">
            <input type="text" name="condition" placeholder="Condition">
            <br>
            <button type="submit" class="btn btn-success">Add Car Details</button>
            {% csrf_token %}
            <!-- {{ form.as_p }} -->
        </form>
    </div>
</div>

{% endblock %}